/* is this working? */
/* body{
  background-color: blue;
} */

/* Import external resoures */
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');


/* CSS reset */
/* * {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
} */

/* Utilities */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Edu TAS Beginner", sans-serif;
  font-weight: 900;
  /* margin: 0; */
}

/* Body */
body {
  background-image: url(../img/cork.png);
}

  /* Header */
  header {
    background-image: url(../img/wall.png);
    padding: 30px;
    text-align: center;
    /* margin: 0 auto; */
    margin-bottom: 50px;
    h1 {
      font-size: 5rem;      
    }
  }


  /* Main */
 
  .photo {
    background-color: #fff;
    /* Z */
    margin: 10px;
    /* flex-basis: 30%; */
    position: relative;
    
  }

  img.pin {
    width: 35px;
    position: absolute;
    position-area: top;
    top: -8px;
  }

  img.photoImg {
    min-width: 200px;
    min-height: 200px;
    padding-top: 20px;
  }
  
  h2#titoloPhoto {
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  p#dataPhoto {
    font-family: "Sometype Mono", monospace;
    padding-top: 10px;
    margin-bottom: 0;
  }







